<ion-view title="Green'sa" style="font-family:Verdana; font-weight: bold; font-size: 25px" id="page1">
  <ion-content padding="true" style="background: url(img/5MX7ooTuSkOmlHsNIpmc_golfball.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="accueil-container1" class = "parent">
      <a ui-sref="nouvellePartie" id="accueil-button1" style="font-weight:600;font-size:29px; color:green" class="button button-balanced button-large button-block button-clear">Nouvelle Partie</a>
      <a ui-sref="statistiques" id="accueil-button2" style="font-weight:600;font-size:29px; color:green" class="button button-balanced button-large button-block button-clear">Statistiques</a>
      <a ui-sref="informations" id="accueil-button4" style="font-weight:600;font-size:29px; color:green" class="button button-balanced button-large button-block button-clear">Informations</a>
      <a ui-sref="aide" id="accueil-button3" style="font-weight:600;font-size:29px; color:green;" class="button button-balanced button-large button-block button-clear">Aide</a>
    </div>
  </ion-content>
</ion-view>
