<ion-view title="Aide" id="page17">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="aide-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="aide-slide213">
          <h1 id="aide-heading15" style="color:#000000; text-align:center; font-size:20px; height: 100%; width: 100%;">
              <table style=" width: 100%; height: 95%; border-collapse: collapse;
                  border :1px solid black;
                  font-size: 15px;">
                  <caption style="color:#000000; text-align:center; font-size:20px;">Différents clubs</caption>
                  
              <thead>
              <tr>
                  <th style="font-weight: bold; border-collapse: collapse;
                      border :1px solid black;
                      font-size: 15px;">Club</th>
                  <th style="font-weight: bold; border-collapse: collapse;
                      border :1px solid black;
                      font-size: 15px;">Caractéristique</th>
                  
                  </thead>
                  
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Driver</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">200 à 260 m</td>
                          
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Bois 3</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">180 à 235 m</td>
                          
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Bois 5</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">170 à 210 m</td>
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 3</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">160 à 200 m</td>
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 4</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">150 à 185 m</td>
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 5</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">140 à 170 m</td>
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 6</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">130 à 160 m</td>
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 7</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">120 à 150 m</td>
                          </tr>
                  
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 8</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">110 à 140 m</td>
                          </tr>
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Fer 9</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">95 à 130 m</td>
                          </tr>
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Pitch</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;">80 à 115 m</td>
                          </tr>
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Pitching Wedge (48°)</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;"> Max 100 m</td>
                          </tr>
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Gap Wedge (52°)</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;"> Max 90 m</td>
                          </tr>
                  <tr>
                      <td style="font-weight: bold; border-collapse: collapse;
                          border :1px solid black;
                          font-size: 11px;">Sand Wedge (56°)</th>
                          <td style="font-weight: bold; border-collapse: collapse;
                              border :1px solid black;
                              font-size: 11px;"> Max 80 m</td>
                          </tr>

                  
              </tr></table></h1>
      </ion-slide-page>
      
      <ion-slide-page id="aide-slide214">
        <h1 id="aide-heading14" style="color:#000000; text-align:center; font-size:20px;">Règles du golf</h1>
        <p></p>
        <h5>
        <p>Le but principal au golf est de : Taper le moins de coup possible pour faire le parcours.</p>
        <p>Pour cela nous disposons de 14 clubs (cannes disent nos amis québécois) qui permettent d’envoyer la balle plus ou moins loin. Chacun dosant sur chaque coup à jouer, quel club il va choisir pour s’approcher au plus vite du drapeau (ancré dans le trou).</p>
        <p>Un parcours est composé de 9 ou 18 trous.
        Chaque trou doit être joué en 3, 4 ou 5 coups.
        Cela dépend de sa longueur.</p>
        <p>L’air de départ est matérialisée par une surface plane, bien tondue, avec 2 boules qui matérialise une ligne imaginaire, derrière laquelle on place sa balle : sur un tee.</p>
        <p>Il n’y a qu’au départ des trous que l’on peut utiliser le tee, cette petite pièce de bois, qui permet de surélever la balle de quelques centimètres afin de faciliter la frappe, et d’utiliser le Driver, le club le plus puissant mais qui ne peut se jouer que si la balle est surélevée.</p>
        <p>Disons qu’au niveau amateur, les par 3 (les trous pour lesquels le contrat est de 3 coups) font moins de 200 mètres – un trou fait très rarement moins de 100 mètres.
        De 200 à 400 mètres nous avons 4 coups pour faire le trou (par 4)
        Et au dessus de 400 mètres, 5 coups pour rentrer la balle dans le trou (par 5)
        Entre le départ le le trou nous avons le fairway (la prairie), pelouse bien tondue qui permet de taper des coups avec une grande facilité.</p></h5>
      </ion-slide-page>

      <ion-slide-page id="aide-slide215">
        <h1 id="aide-heading14" style="color:#000000; text-align:center; font-size:20px;">Règles du golf (Suite)</h1>
        <p></p>
        <h5>
        <p>A droite et à gauche du fairway, nous avons le rough, où là, tout dépend : de l’herbe plus haute, de l’herbe très haute, des arbres, de l’eau, des buissons…etc
        >>> Mieux vaut donc rester sur la fairway.. et donc taper droit.</p>
        <p>A l’arrivée, autour du trou, nous avons le green, cette fameuse surface extrêmement bien tondue, qui nous permet de faire rouler la balle jusqu’au trou.
        Sur le green on n’utilise que le putter, le même club qu’au mini golf, et la règle toujours la même : rentrer la balle avec un minimum de coups joués.</p></h5>
      </ion-slide-page>
      
      
      
    </ion-slides>
  </ion-content>
</ion-view>
