<ion-view title="Angle de deviation" style="font-family:Verdana; font-weight: bold; font-size: 25px" id="page22">

	<ion-content padding="true" class="has-header" ng-controller="angleDeDeviation3Ctrl">

		<div class="card">
        <div class="item item-divider">
            Angle de déviation
        </div>
        <div class="item item-text-wrap">
            <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels">
			</canvas>  
        </div>
    </div>

	</ion-content>

</ion-view>