<ion-view title="Cap Malo le Golf" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div  style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src="img/Capmalomap.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="capMaloLeGolf-heading5" style="color:blue; text-align: center;">Cap-Malo le Golf</h1>
    <ion-list id="capMaloLeGolf-list7">
      <ion-item class="item-icon-left" id="capMaloLeGolf-list-item12">
        <i class="icon ion-ios-home"></i>
        <h2>Avenue du Phare du Grand Jardin,
          <p>35520 Melesse</p>
        </h2></ion-item>
      <ion-item class="item-icon-left" id="capMaloLeGolf-list-item13">
        <i class="icon ion-clock"></i>Toute la semaine 8h00-19h00</ion-item>
      <ion-item class="item-icon-left" id="capMaloLeGolf-list-item14">
        <i class="icon ion-ios-telephone"></i>02 99 13 10 10
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
