<ion-view title="Distance" style="font-family:Verdana; font-weight: bold; font-size: 25px" id="page22">

	<ion-content padding="true" class="has-header" ng-controller="distance2Ctrl">

		<div class="card" id="card">
        <div class="item item-divider">
            Distance
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series">
			</canvas>

       	</div>
    </div>

    </ion-content>
	
</ion-view>