<ion-view title="Golf des Rochers Sévigné" id="page3">
  
  <ion-content padding="true" class="has-header">
    <form id="golfDesRochersSVign-form1" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="img/Vitremap.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="golfDesRochersSVign-heading1" style="color:#000000;text-align:center;">Golf des Rochers-Sévigné</h3>
      <label class="item item-input" id="golfDesRochersSVign-textarea1">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>