<ion-view title="Golf de Cesson" id="page4">
 
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Cessonmap.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="golfDeCesson-heading5" style="color:blue; text-align: center;">Golf de Cesson</h1>
    <ion-list id="golfDeCesson-list7">
        <ion-item class="item-icon-left" id="golfDeCesson-list-item12">
            <i class="icon ion-ios-home"></i>
            <h2>43 Boulevard de Dézerseul,
                <p>35510 Cesson-Sévigné</p>
            </h2></ion-item>
        <ion-item class="item-icon-left" id="golfDeCesson-list-item13">
            <i class="icon ion-clock"></i>Hiver : 9h00 - 18h00
            <p style="font-size: 12pt; color:grey;"> Eté : 8h30 - 19h30</p> </ion-item>
        <ion-item class="item-icon-left" id="golfDeCesson-list-item14">
            <i class="icon ion-ios-telephone"></i>02 99 83 26 74
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
