<ion-view title="Golf du Domaine des Ormes" id="page10">
 
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src="img/Dolmap.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="golfDuDomaineDesOrmes-heading8" style="color:green; text-align: center;">Golf du Domaine des Ormes</h1>
    <ion-list id="golfDuDomaineDesOrmes-list7">
        <ion-item class="item-icon-left" id="golfDuDomaineDesOrmes-list-item12">
            <i class="icon ion-ios-home"></i>
            <h2>Domaine des Ormes,
                <p>35120 Dol de Bretagne</p>
            </h2></ion-item>
        <ion-item class="item-icon-left" id="golfDuDomaineDesOrmes-list-item13">
            <i class="icon ion-clock"></i>Toute la semaine : 9h00-18h00</ion-item>
        <ion-item class="item-icon-left" id="golfDuDomaineDesOrmes-list-item14">
            <i class="icon ion-ios-telephone"></i>02 99 73 54 44</ion-item>
        <ion-item class="item-icon-left" id="golfDuDomaineDesOrmes-list-item15">
            <i class="icon ion-at"></i></ion-item>
        <ion-item class="item-icon-left" id="golfDuDomaineDesOrmes-list-item16">
            <i class="icon ion-social-euro"></i></ion-item>
        <ion-item class="item-icon-left" id="golfDuDomaineDesOrmes-list-item17">
            <i class="icon ion-ios-browsers"></i><a href="https://www.lesormes.com/fr/golf-et-resort"><a><h2>https://www.lesormes.com/fr/golf-et-resort</a></h2>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
