<ion-view title="Golf de la Freslonniere" id="page11">
  
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src="img/Freslomap.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="golfDeLaFreslonniere-heading9" style="color:green; text-align:center;">Golf de la Freslonnière</h1>
    <ion-list id="golfDeLaFreslonniere-list7">
        <ion-item class="item-icon-left" id="golfDeLaFreslonniere-list-item12">
            <i class="icon ion-ios-home"></i>
            <h2>Golf de la Freslonnière,
                <p>35650 Le Rheu</p>
            </h2></ion-item>
        <ion-item class="item-icon-left" id="golfDeLaFreslonniere-list-item13">
            <i class="icon ion-clock"></i>Du 01/11 au 31/03 : 9h00-17h00
            <p style="font-size: 12pt; color:grey;"> Du 01/04 au 31/10 : 8h00-19h00</p></ion-item>
        <ion-item class="item-icon-left" id="golfDeLaFreslonniere-list-item14">
            <i class="icon ion-ios-telephone"></i>02 99 14 84 09
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
