<ion-view title="Golf de Rennes-Saint-Jacques" id="page5">
  
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src="img/SJLmap.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="golfDeRennesSaintJacques-heading3" style="color:green; text-align:center;">Golf de Saint-Jacques-la-Lande</h1>
    <ion-list id="golfDeRennesSaintJacques-list7">
        <ion-item class="item-icon-left" id="golfDeRennesSaintJacques-list-item12">
            <i class="icon ion-ios-home"></i>
            <h2>Temple du Cerisier,
                <p>35136 St-Jacques de la Lande</p>
            </h2></ion-item>
        <ion-item class="item-icon-left" id="golfDeRennesSaintJacques-list-item13">
            <i class="icon ion-clock"></i>Toute la semaine : 8h00-19h00</ion-item>
        <ion-item class="item-icon-left" id="golfDeRennesSaintJacques-list-item14">
            <i class="icon ion-ios-telephone"></i>02 99 30 18 18
        </ion-item>
        <ion-item class="item-icon-left" id="golfDeRennesSaintJacques-list-item15">
            <i class="icon ion-at"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="golfDeRennesSaintJacques-list-item16">
            <i class="icon ion-social-euro"></i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
