<ion-view title="Statistiques" style="font-family:Verdana; font-weight: bold; font-size: 25px" id="page20">
  
  <ion-content padding="true" class="has-header">
    <ion-list id="statistiques2-list5">
      <ion-item ui-sref="distance1" class="item-icon-right" id="statistiques2-list-item16">Distance
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item ui-sref="angleDeDeviation1" class="item-icon-right" id="statistiques2-list-item17">Angle de déviation
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item ui-sref="tableauDeScore1" class="item-icon-right" id="statistiques2-list-item22">Tableau de score
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



