<ion-view title="Statistiques" id="page20">
  
  <ion-content padding="true" class="has-header">
    <ion-list id="statistiques4-list5">
      <ion-item ui-sref="distance3" class="item-icon-right" id="statistiques4-list-item24">Distance
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item ui-sref="angleDeDeviation3" class="item-icon-right" id="statistiques4-list-item25">Angle de déviation
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item ui-sref="tableauDeScore3" class="item-icon-right" id="statistiques4-list-item22">Tableau de score
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



