<ion-view title="Statistiques" id="page16">
  
  <ion-content padding="true" class="has-header">
    <ion-list id="statistiques2-list3">
      <ion-item class="item-icon-right" id="statistiques2-list-item15">General
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques2-list-item16">Distance
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques2-list-item17">Angle de déviation
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques2-list-item18">Tableau de score
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>