<ion-view title="Statistiques" id="page20">
  
  <ion-content padding="true" class="has-header">
    <ion-list id="statistiques4-list5">
      <ion-item class="item-icon-right" id="statistiques4-list-item23">General
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques4-list-item24">Distance
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques4-list-item25">Angle de déviation
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item ui-sref="tableauDeScore1" class="button button-balanced button-large button-block button-clear" style="font-weight:200;font-size:15px;" id="statistiques4-list-item22">Tableau de score
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


"item-icon-right"
