<ion-view title="Statistiques" id="page19">

  <ion-content padding="true" class="has-header">
    <ion-list id="statistiques3-list4">
      <ion-item class="item-icon-right" id="statistiques3-list-item19">General
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques3-list-item20">Distance
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="statistiques3-list-item21">Angle de déviation
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item ui-sref="tableauDeScore2" class="item-icon-right" id="statistiques3-list-item22">Tableau de score
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



