<ion-view title="Tableau de score" id="page20">
  
  <ion-content padding="true" class="has-header">
    <table>
        <tr>
            <th>Trou n°</th>
            <th>Trou 1</th>
            <th>Trou 2</th>
            <th>Trou 3</th>
            <th>Trou 4</th>
            <th>Trou 5</th>
            <th>Trou 6</th>
            <th>Trou 7</th>
            <th>Trou 8</th>
            <th>Trou 9</th>
        </tr>
        
        <tr>
            <td>Par</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>Shots</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>Putts</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>FIR</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>GIR</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>

        
            
            
  </ion-content>
</ion-view>
