<ion-view title="Tableau de score" id="page21">
  
  <ion-content padding="true" class="has-header">
    <table style=" width: 100%; height: 100%;">
        <tr>
            <th>Trou n°</th>
            <th>Par</th>
            <th>Shots</th>
            <th>Putts</th>
            <th>FIR</th>
            <th>GIR</th>
            
        </tr>
        
        <tr>
            <td>Trou 1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        
        <tr>
            <td>Trou 2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        
        <tr>
            <td>Trou 3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>Trou 4</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td>Trou 5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Trou 6</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Trou 7</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Trou 8</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Trou 9</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        
    </table>

        
            
            
  </ion-content>
</ion-view>
